
@import url("bootstrap-responsive.min.css");
@import url("bootstrap.min.css");

body{
margin: 50px 0px;
}
div .hide{
display: block;
}

.footer{
  border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 35px 0 36px;
}

.legend table{
width: 100%;
text-align: center;
text-transform: uppercase;
}

td.center{
text-align: center;
}
td.form-title{
font-size: 120%;
padding: 10px;
}
td .status{
width: 16px;
height: 16px;
display: block;
}
.legend{
clear: both;
height: 40px;
}
.legend li{
list-style: square;
float: left;
list-style-position: outside;
margin-right: 20px;
}
.legend li span{
color: #444444;
text-transform: capitalize;
}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
    margin-bottom: 20px;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
    width: 938px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

td.category{
font-weight: bold;
}

.bugnote{
 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: 200px;
    padding: 20px;

}
.bugnote form{
float: left;
margin: 10px 10px 10px 0px;
}
.bugnote span{
clear: both;
display: block;
}
tr.row-category-history{
font-weight: bold;
}

td form{
margin: 0px;
float: left;
margin-right: 10px;
}
body .navbar-inner{
background: #224566;
background-image: none;
box-shadow: none;
}

body .navbar .nav .active > a, body .navbar .nav .active > a:hover{
background: #ffffff;
color: #224566;
}

body .navbar .nav > li > a {
padding: 10px 10px 11px;
text-shadow: none;
color: #f4f4f4;
}

body .navbar .brand{
color: #FFF;
}

.projselect{
 float: left;
    height: 31px;
    margin: 5px 0 0;
    width: 100px;
}
.clear{
clear: both;
}

.legend{
margin: 10px 0px;
}
th .result{
float: right;
margin-top: 5px;
}
.az.pagination a{
padding: 0px 8px;
}
