body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 6px 4px;
}

p 					{ font-family: Verdana, Arial, Helvetica, sans-serif; }

pre				{ margin-top: 0px; margin-bottom: 0px; }

a					{}
a:active 			{}
a:link    			{}
a:visited 			{}
a.subtle			{ color: blue; text-decoration: none; }
a.resolved			{ text-decoration: line-through underline; }
a > img				{ border: none; }

form				{ display: inline; }

input				{}
input.button			{}
input.button-small		{ font-size: 1em; }

textarea			{}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
span.print			{ font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }
span.small 			{ font-size: 8pt; font-weight: normal; }
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }
span.bracket-link	{ white-space: nowrap; }

span.dependency_dated		{ color: brown; }
span.dependency_met			{ color: green; }
span.dependency_unmet		{ color: red; }
span.dependency_upgrade		{ color: orange; }

table				{ }
table.hide			{ width: 100%; border: solid 0px #ffffff; }
table.width100		{ width: 100%; border: solid 1px #000000; }
table.width90		{ width: 90%;  border: solid 1px #000000; }
table.width75		{ width: 75%;  border: solid 1px #000000; }
table.width60		{ width: 60%;  border: solid 1px #000000; }
table.width50		{ width: 50%;  border: solid 1px #000000; }

td,th 				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align: left; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category, th.category		{ background-color: #c8c8e8; color: #000000; font-weight: bold; vertical-align : top; }
td.overdue			{ background-color: #ff0000; color: #000000; font-weight: bold; }

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; }
td.form-title-caps	{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; text-transform: uppercase; }
td.nopad			{ padding: 0px; }
td.small-caption, th.small-caption	{ font-size: 8pt; }
td.print			{ font-size: 8pt; text-align: left; padding: 2px; }
td.print-category, th.print-category	{ font-size: 8pt; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-overdue	{ font-size: 8pt; color: #000000; font-weight: bold; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.spacer			{ background-color: #ffffff; color: #000000; height: 5px; }
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  {  text-align:center; }
tr.row-category2	{ background-color: #c8c8e8; color: #000000; }
tr.row-category-history { background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category-history td {  text-align: left; }
tr.vcenter			{ vertical-align: middle; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

#buglist tr			{ text-align: center; }

tr.bugnote .bugnote-meta { background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
tr.bugnote .bugnote-note { background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }
tr.bugnote .time-tracked,
.time-tracking-total .time-tracked { font-size: larger; font-weight:bold; margin: 0 0 1em; padding:0; }
.time-tracking-total { text-align:right; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }

.main-menu { float: left; width:100%; margin: 0; padding: 0; overflow: hidden; font-size: 1em; position: relative; border: 1px solid #999; background-color: #e8e8e8; z-index: 99; }
.main-menu ul { clear: left; float: left; list-style: none; position: relative; left: 50%; margin: 0 0 0 -3em; padding: .25em; }
.main-menu ul li { display:block; float: left; list-style: none; padding: .5em; margin: 0; position: relative; right: 50%; }
.main-menu ul li a { padding-left: .9em; border-left: 1px solid #000; text-decoration: underline; }
.main-menu ul li:first-child > a { padding-left: 0; border-left: none;  }

#manage-menu, #account-menu, #summary-menu , #summary-submenu, #manage-config-menu { float: left; width: 100%; margin: 0; padding: 0; overflow: hidden; font-size: 1em; position: relative; top: -1.5em; }
#manage-menu ul, #manage-config-menu ul, #summary-menu ul, #summary-submenu ul { clear: left; float: left; list-style: none; position: relative; left: 50%; padding: 0; margin: 0; text-align: center; }
#manage-menu ul li, #manage-config-menu ul li, #summary-menu ul li, #summary-submenu ul li { display:block; float: left; list-style: none; margin: .5em 0; padding: 0; position: relative; right: 50%; }
#manage-menu ul a, #manage-config-menu ul a, #summary-menu ul a, #summary-submenu ul a, #account-menu ul a, #doc-menu ul a { text-decoration: underline; padding: 0 .25em; }

#account-menu, #doc-menu { top: 0; }
#account-menu ul, #doc-menu ul { margin: 0 auto; padding: .25em; float: right; text-align: center; }
#account-menu ul li, #doc-menu ul li { display: block; float: left; padding: 0; margin: 0; }

/* bracket links */
#manage-menu ul li:before,
#manage-config-menu ul li:before,
#summary-menu ul li:before,
#summary-submenu ul li:before,
#account-menu ul li:before,
#doc-menu ul li:before,
span.permalink:before,
span.switch-view:before { content: "[" }

#manage-menu ul li:after,
#manage-config-menu ul li:after,
#summary-menu ul li:after,
#summary-submenu ul li:after,
#account-menu ul li:after,
#doc-menu ul li:after,
span.permalink:after,
span.switch-view:after { content: "]" }

#content { position: relative; top: 0; margin: 0; padding: .5em; }
.recently-visited { position: relative; top: .5em; right: -14em; float: right; text-align: right; font-size: x-small; }

br { clear:both; }

.bug-jump { position: relative; top: -2.5em; right: .5em; float: right;  z-index: 100; }
.field-default { color: #999; }

td.menu
{
	background-color: #e8e8e8;
	color: #000000;
	text-align: center;
	width: 100%;
	padding: 5px;
}

td.menu a
{
	white-space: nowrap;
}

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

img						{}
img.icon				{ width: 11px; height: 11px; }
img.delete-icon			{ position: relative; top: 5px; border: 0; }

div						{ padding: 3px; }
div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

div.border
{
	background-color: #ffffff;
	border: solid 1px #000000;
	text-align: center;
	position: relative;
}

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.floatright				{ float: right; }
.floatleft				{ float: left; }
.small					{ font-size: 8pt; }
.small-normal 			{ font-size: 8pt; font-weight: normal; }
.small-subprojects		{ font-size: 8pt; width: 200px; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 8pt; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 8pt; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 8pt; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 8pt; }
.hidden				{ display: none; }

.nowrap
{
	white-space: nowrap;
}

.positive
{
	color: green;
}

.negative
{
	color: red;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.avatar
{
	float: right;
	border: 0;
}

.progress400				{ position: relative; width: 400px; border: 1px solid #d7d7d7; margin-top: 1em; margin-bottom: 1em; padding: 1px; }
.progress400 .bar			{ display: block; position: relative; background: #6bba70; text-align: center; font-weight: normal; color: #333; height: 2em; line-height: 2em; }

#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-top: 2em;
}

#footer #powered-by-mantisbt-logo {
	float: right;
}

#footer address {
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#footer #user-copyright {
	font-size: 9pt;
}

#footer #log-event-list .duplicate-query {
	color: red;
}
td.tainted { color: red; }
td.tainted input[type="text"], td.tainted select { background-color: #ffffff; color: red; border: 1px solid red; }
select.tainted { background-color: #ffffff; color: red; }

.stored-queries select { font-size: .9em; }
#filter_closed_link { float: left; padding: .6em .5em; margin: 0; line-height: 2.25em;}
#filter_open_link { float: left; padding: 0 .5em; margin: 0; margin-top: -.3em;}

.filter-box { clear: both; border: 1px solid #000; margin: 0; padding: 0; font-size: .9em; }
#filter_closed .filter-box { height: 2em; }

.filter-box table { margin-bottom: 1em; }

.search-box { float: left; position: relative; padding: 0; margin: 0; }
.submit-query{ float: left; position: relative; padding: 0 .5em; margin: 0; }
.other-forms { float: right; position: relative; padding: 0; margin: 0; }
.filter-links { float: left; position: relative; padding: 0 .5em; margin: 0; line-height: 2.25em; }
.stored-queries { float: left; padding: 0 .5em; margin: 0; line-height: 2.25em; }
.reset-query { float: left; padding: 0; margin: 0; line-height: 2.25em; }
.save-query { float: left; padding: 0 .5em; margin: 0; line-height: 2.25em; }

#filter_open .search-box,
#filter_open .submit-query { top: -.9em; }
#filter_open .other-forms { top: -1.1em; }

#filter_closed .other-forms { top: -.15em; }
