body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 6px 4px;
}

p 					{ font-family: Verdana, Arial, Helvetica, sans-serif; }

pre				{ margin-top: 0px; margin-bottom: 0px; }

a					{}
a:active 			{}
a:link    			{}
a:visited 			{}
a.subtle			{ color: blue; text-decoration: none; }
a.resolved			{ text-decoration: line-through underline; }
a > img				{ border: none; }

form				{ display: inline; }

input				{}
input.button			{}
input.button-small		{ font-size: 1em; }

textarea			{}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
span.print			{ font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }
span.small 			{ font-size: 8pt; font-weight: normal; }
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }
span.bracket-link	{ white-space: nowrap; }

span.dependency_dated		{ color: maroon; }
span.dependency_met			{ color: green; }
span.dependency_unmet		{ color: red; }
span.dependency_upgrade		{ color: orange; }

table				{ border: none; }
table td, table th	{ border: none; border-spacing: 0px; }
table.hide			{ width: 100%; border: solid 0px #ffffff; }
table.width100		{ width: 100%; border: solid 1px #000000; }
table.width90		{ width: 90%;  border: solid 1px #000000; }
table.width75		{ width: 75%;  border: solid 1px #000000; }
table.width60		{ width: 60%;  border: solid 1px #000000; }
table.width50		{ width: 50%;  border: solid 1px #000000; }

td,th 				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align: left; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category, th.category		{ background-color: #c8c8e8; color: #000000; font-weight: bold; vertical-align : top; }
td.overdue			{ background-color: #ff0000; color: #000000; font-weight: bold; }

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; }
td.form-title-caps	{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; text-transform: uppercase; }
td.nopad			{ padding: 0px; }
td.small-caption, th.small-caption	{ font-size: 8pt; }
td.print			{ font-size: 8pt; text-align: left; padding: 2px; }
td.print-category, th.print-category	{ font-size: 8pt; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-overdue	{ font-size: 8pt; color: #000000; font-weight: bold; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.spacer			{ background-color: #ffffff; color: #000000; height: 5px; }
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  {  text-align:center; }
tr.row-category2	{ background-color: #c8c8e8; color: #000000; }
tr.row-category-history { background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category-history td {  text-align: left; }
tr.vcenter			{ vertical-align: middle; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

#buglist tr			{ text-align: center; }

tr.bugnote .bugnote-meta { background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
tr.bugnote .bugnote-note { background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }
tr.bugnote .time-tracked,
.time-tracking-total .time-tracked { font-weight:bold; margin: 0 0 1em; padding:0; }
.time-tracking-total { text-align:right; }

#login-info { clear: both; position: relative; display: block; float: left; padding: .5em 0; z-index: 100; line-height: 1em; }

#logged-anon-label, #login-link, #signup-link { float: left; margin: .25em; padding: 0em; font-size: 1em; }
#logged-anon-label { padding: 0 .5em; }
#login-link a, #signup-link a { padding: 0 .5em; }
#login-link:before, #signup-link:before { content: '|'; }

#logged-in-label { float: left; }
#logged-in-label:after { content: ':'; }
#logged-in-user { float: left; margin: 0 .5em; font-style: italic; font-size: 1em; }
#logged-in-realname, #logged-in-accesslevel { font-size: 1em; margin: 0; padding: 0; z-index: 100; }
#logged-in{ display: block; float: left; font-size: .8em; margin: 0; padding: 0; line-height: 1.3em; }
#logged-in:before { content: '(' ; }
#logged-in:after { content: ')' ; }
#logged-in-realname:after { content: ' - ' ; }

#current-time-centered{ position: absolute; width: 100%; text-align: center; }
#current-time{ margin-right: -2em; float: right; text-align: center; width: 17%; padding: .5em .25em; z-index: 0; line-height: 1em; }
#project-selector { border: none; float: right; z-index: 100; width: 42%; text-align: right; font-size: small; padding: .1em 0 .05em 0; line-height: 1em; margin: 0 .5em 0 1em; }
#project-selector label { padding: .5em; }
#project-selector label:after { content: ':' }
#project-selector select{ font-size: small; line-height: 1em; }
#project-selector select{ font-size: small; line-height: 1em; }
#project-selector .button { font-size: small; line-height: 1em; padding: 0; margin: 0; }
#rss-feed { float: right; width: 16px; z-index: 0; padding: .5em 0; margin: 0; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }

.bug-jump { clear: both; display:block; float: right; padding: .25em; margin: 0; position: relative; top: .3em; z-index: 100; border: none; }
.main-menu { float: right; width:100%; margin: 0; padding: 0; overflow: hidden; font-size: 1em; position: relative; top: -2em; border: 1px solid #999; background-color: #e8e8e8; z-index: 99; }
.main-menu div { width: 93.75%; }
.main-menu ul { clear: left; float: left; list-style: none; position: relative; left: 50%; margin: 0 0 0 -3.75em; padding: .25em; width: 90%; }
.main-menu ul li { display:block; float: left; list-style: none; padding: .15em .5em; margin: 0; position: relative; right: 50%; }
.main-menu ul li a { padding-right: .9em; border-right: 1px solid #000; text-decoration: underline; }
.main-menu ul li > a#logout-link { padding-right: 0; border-right: none; }

#manage-menu, #account-menu, #summary-menu , #summary-submenu, #manage-config-menu, #manage-user-filter-menu, #manage-tags-filter-menu { float: left; width: 100%; margin: 0; padding: 0; overflow: hidden; font-size: 1em; position: relative; top: -1.5em; }
#manage-menu ul, #manage-config-menu ul, #summary-menu ul, #summary-submenu ul, #manage-user-filter-menu ul, #manage-tags-filter-menu ul { clear: left; float: left; list-style: none; position: relative; left: 50%; padding: 0; margin: 0; text-align: center; }
#manage-menu ul li, #manage-config-menu ul li, #summary-menu ul li, #summary-submenu ul li, #manage-user-filter-menu ul li, #manage-tags-filter-menu ul li { display:block; float: left; list-style: none; margin: .5em 0; padding: 0; position: relative; right: 50%; }
#manage-menu ul a, #manage-config-menu ul a, #summary-menu ul a, #summary-submenu ul a, #account-menu ul a, #doc-menu ul a, #manage-user-filter-menu ul a, #manage-tags-filter-menu ul a { text-decoration: underline; padding: 0 .25em; }

#account-menu, #doc-menu { top: 0; }
#account-menu ul, #doc-menu ul { margin: 0 auto; padding: .25em; float: right; text-align: center; }
#account-menu ul li, #doc-menu ul li { display: block; float: left; padding: 0; margin: 0; }

/* bracket links */
#manage-user-link:before,
#manage-menu ul li:before,
#manage-config-menu ul li:before,
#summary-menu ul li:before,
#summary-submenu ul li:before,
#account-menu ul li:before,
#doc-menu ul li:before,
span.permalink:before,
span.switch-view:before { content: "[" }

#manage-user-link:after,
#manage-menu ul li:after,
#manage-config-menu ul li:after,
#summary-menu ul li:after,
#summary-submenu ul li:after,
#account-menu ul li:after,
#doc-menu ul li:after,
span.permalink:after,
span.switch-view:after { content: "]" }

#content { clear: both; position: relative; top: 0; margin: 0; padding: .5em; }
.recently-visited { position: relative; top: -2.5em; float: right; text-align: right; font-size: x-small; }

br { clear:both; }

.field-default { color: #999; }

td.menu
{
	background-color: #e8e8e8;
	color: #000000;
	text-align: center;
	width: 100%;
	padding: 5px;
}

td.menu a
{
	white-space: nowrap;
}

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

div#news-items { clear: both; }
div.news-item { border: 1px solid #000; padding: 0em; width: 75%; margin: 2em auto; }
div#news-items div:first-child { margin-top: 3em; }
h3.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; margin: 0em; padding: .25em; }
h3.news-heading-private	{ background-color: #d8d8d8; color: #000000; text-align: left; border-bottom: 1px solid #000000; margin: 0em; padding: .25em; }
p.news-body			{ background-color: #ffffff; color: #000000; margin: 0em; padding: 1em; }
.news-date-posted { font-style: italic; font-size: .8em; font-weight: normal; }
.news-author { font-weight: normal; }
.news-announcement, .news-private { font-weight: normal; font-size: .7em; }
.news-title:after, .news-date-posted:after, .news-headline:after { content: ' - '; font-weight: normal; }
.news-announcement:before, .news-private:before { content: '['; font-weight: normal; }
.news-announcement:after, .news-private:after { content: ']'; font-weight: normal; }
#news-menu { clear: both; margin: 0em auto; width: 75%; text-align: center; }
.news-headline { font-weight: bold; }

img						{}
img.icon				{ width: 11px; height: 11px; }
img.delete-icon			{ position: relative; top: 5px; border: 0; }

div						{ padding: 3px; }
div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

div.border
{
	background-color: #ffffff;
	border: solid 1px #000000;
	text-align: center;
	position: relative;
}

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.floatright				{ float: right; }
.floatleft				{ float: left; }
.small					{ font-size: 8pt; }
.small-normal 			{ font-size: 8pt; font-weight: normal; }
.small-subprojects		{ font-size: 8pt; width: 200px; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 8pt; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 8pt; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 8pt; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 8pt; }
.hidden				{ display: none; }

.nowrap
{
	white-space: nowrap;
}

.positive
{
	color: green;
}

.negative
{
	color: red;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.avatar
{
	float: right;
	border: 0;
}

.progress400				{ position: relative; width: 400px; border: 1px solid #d7d7d7; margin-top: 1em; margin-bottom: 1em; padding: 1px; }
.progress400 .bar			{ display: block; position: relative; background: #6bba70; text-align: center; font-weight: normal; color: #333; height: 2em; line-height: 2em; }

#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-top: 2em;
	clear: both;
}

#footer #powered-by-mantisbt-logo {
	float: right;
}

#footer address {
	font-style: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#footer #user-copyright {
	font-size: 9pt;
}

#footer #log-event-list .duplicate-query {
	color: red;
}
td.tainted { color: red; }
td.tainted input[type="text"], td.tainted select { background-color: #ffffff; color: red; border: 1px solid red; }
select.tainted { background-color: #ffffff; color: red; }

#filter_open, #filter_closed { position: relative; border: 1px solid #000; padding: 0; margin: 0; }
#filter_open_link, #filter_closed_link { float: left; position: relative; top: 1em; padding: 0 .5em; margin: 0; }
.search-box { float: left; position: relative; padding: 0; margin: 0; }
.search-box, .save-query, .submit-query, .stored-queries, .manage-queries { top: .3em; }
.submit-query, .save-query {  float: left; position: relative; padding: 0 .5em; margin: 0; font-size: 1em; }
.filter-links, .stored-queries, .manage-queries, .reset-query { float: right; position: relative; padding: 0 .5em; margin: 0; z-index: 100; }
.save-query {  float: right; }

.filter-box { margin: 0; padding: 0; font-size: .9em; }
.filter-box table { margin: 0; padding: 0; }
.filter-links { padding: .5em; }
.stored-queries select { font-size: .9em; }
#error-msg { clear: both; }
.error-msg { color: red; text-align: center; }
div#error-msg { width: 50%; margin: 0em auto; border: 1px solid #000; }
div.error-type { font-weight: bold; }
div.error-description { color: red; text-align: center; margin: 1.5em; }
div.error-info { text-align: center; margin: 1em; }

.bug-attachments {
	margin: 0;
	padding: 0;
}

.bug-attachments > ul {
	list-style: none;
	margin: 0.5em;
	padding: 0;
}

.bug-attachments > ul > li {
	margin: 0.5em 0;
	padding: 0;
}

.bug-attachments > ul > li > div {
	margin: 0;
	padding: 0;
}

.bug-attachment-preview-text, .bug-attachment-preview-image {
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	margin: 1em;
	padding: 1em;
}

#dates label[for=start_date], #dates > label[for=end_date] {
	float: left;
	width: 3em;
}

.myview-left-col, .myview-right-col { width: 50%; vertical-align: top; }
#manage-overview-table th { width: 30%; }

div.section-container,
div.form-container,
div.table-container {
	clear: both;
	position: relative;
	margin: 2em auto 0em auto;
	padding: 1px;
	min-width: 50em;
	border: 1px solid #000;
	width: 85%; /* default width */
}
#manage-user-div {
	min-width: 57em;
}
div.section-container h2,
div.form-container h2,
div.table-container h2 {
	float: left;
	background-color: #fff;
	color: #000;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	padding: .5em;
	margin: 0em;
}
div.section-container table,
div.form-container table,
div.table-container table {
	width: 100%;
}
div.section-container table th,
div.form-container table th,
div.table-container table th {
	text-align: center;
}
div#reauth-div,
div#login-div,
div#lost-password-div,
div#signup-div,
div#select-project-div,
div#account-profile-div,
div#account-profile-update-div {
	width: 65%;
}
div#adm-config-div {
	width: 95%;
}
div#project-delete-div {
	text-align: center;
}
fieldset {
	border: none;
	margin: 0em;
	padding: 0em;
}
.action-buttons {
	clear:both;
}
.action-button fieldset {
	display: inline;
}
div.form-container fieldset {
	clear: both;
	margin: 0em;
	padding: 0em;
	border: none;
}
div#form-container fieldset fieldset {
	margin: 0em 0em 1px 0em;
}
div.form-container fieldset legend {
	float: left;
	margin: 0em;
	padding: .5em .15em;
	text-indent: .5em;
	border: none;
	font-weight: bold;
}
div.form-container fieldset label.required:before {
	font-size: 8pt;
	content: '* ';
	color: red;
}
.pager-links {
	font-size: 8pt;
	font-weight: normal;
	text-align: right;
}
.section-link {
	padding: .5em;
	float: right;
}
.odd {
	background-color: #d8d8d8;
}
.even {
	background-color: #e8e8e8;
}
fieldset fieldset.field-container,
div.field-container {
	position: relative;
	display:block;
	width: 100%;
	float: left;
	margin: 0em 0em 1px 0em;
	padding: 0em;
}
.field-container>.display-label,
div.form-container .field-container>label,
div.form-container fieldset fieldset legend {
	position: relative;
	float: left;
	margin: 0em;
	padding: .5em;
	font-weight: bold;
	text-indent: 0em;
	white-space: normal;
	z-index: 9999;
}
.field-container>label span.help-text {
	clear: both;
	display: block;
	font-size: .8em;
	font-weight: normal;
}
div.form-container .field-container>label span.help-text:before { content: '('; }
div.form-container .field-container>label span.help-text:after { content: ')'; }
div#news-edit-div fieldset fieldset>label,
div#account-prefs-update-div fieldset fieldset>label {
	width: auto;
	font-weight: normal;
}
div#manage-user-actions-div {
	text-align: center;
}
#manage-user-filter,
#manage-project-subproject-add-form,
#manage-project-category-copy-form,
#manage-project-version-copy-form,
#manage-project-custom-field-copy-form,
#manage-project-users-copy-form {
	float: right;
}
fieldset fieldset legend label {
	z-index: 9999;
}
div.form-container .radio,
div.form-container .checkbox,
div.form-container .select,
div.form-container .textarea,
div.form-container .input,
.display-value {
	position: relative;
	float: left;
	padding: .25em;
	margin: 0em .5em;
}
div.form-container .radio input,
div.form-container .checkbox input,
div.form-container .select select,
div.form-container .textarea textarea,
div.form-container .input  input,
.display-value span {
	max-width: 98%;
}
.label-style {
	position: absolute;
	top: 0em;
	left: 0em;
	padding: 0em;
	margin: 0em;
	background-color: #c8c8e8;
	height: 100%;
	border-right: 1px solid #fff;
	z-index: 0;
}
.section-links,
div.form-container .submit-button {
	clear: both;
	display: block;
	padding: .5em;
	text-align: center;
}
/* 30% label width - these are the defaults */
.label-style {
	width: 31%;
}
div.form-container label,
.display-label,
#account-prefs-update-div legend {
	width: 30%;
}
div.form-container .textarea,
div.form-container .input,
.display-value {
	width: 65%;
}
div.success-msg,
div.important-msg {
	display: block;
	width: 60%;
	margin: 2em auto;
}
div.success-msg {
	text-align: center;
}
div.important-msg {
	color: red;
	border: 1px solid red;
	background-color: #fceded;
}
div.important-msg ul, .success-msg {
	margin: 0em;
	padding: 2em 2em 2em 4em;
}
div.important-msg ul li {
	margin-left: 2em;
	background-color: #fceded;
}
.continue-link {
	clear: both;
	display: block;
	text-align: center;
}
ul.project-list { list-style: none; margin: .5em 0em 2em 0em; padding: 0em .5em; }
ul.project-list li { margin: 0em; line-height: 1.25em; clear: both; min-width: 30em; }
ul.project-list li span.access-level:before { content: ' ['; }
ul.project-list li span.access-level:after { content: '] '; }
ul.project-list li span.view-state:before { content: ' ('; }
ul.project-list li span.view-state:after { content: ') '; }
ul.project-list li span.project-name { display: block; float: left; min-width: 15em; }
ul.project-list li span.access-level, ul.project-list li span.view-state { display: block; float: left; margin: 0em .25em; }

.tag-list td span.tag-filter:before { content: ' ['; padding: 0em .5em; }
.tag-list td span.tag-filter:after { content: '] '; padding: 0em .5em; }
.tag-link {
	margin: 0em .5em;
}
