div#login-div { min-width: 45em; }
#login-form .label, #signup-form .label, #lost-password-form .label {
	width: 40%;
}
#login-form .input, #signup-form .input, #lost-password-form .input {
	width: 55%;
}

#secure-session-label span.input {
	float: left;
	margin: 0em;
	width: 57%;
	padding: .5em 0em 0em .25em;
}
#secure-session-label span.input input {
	float: left;
	margin-right: .25em;
}
span#session-msg {
	padding-top: .25em;
	line-height: 1em;
	font-size: .8em;
}
span#captcha-input {
	display: block;
	width: 6em;
	line-height: 3.5em;
	padding: 0em;
}
span.captcha-image {
	position: relative;
	display: block;
	float: right;
	width: 10em;
	margin: 0em 0em 0em -10em;
	padding: 1em 0em 0em 3em;
	border-left: 1px solid #fff;
}
span#no-password-msg, #signup-info, #lost-password-msg {
	clear: both;
	display: block;
	padding: 1em;
}
div#login-warnings, div#login-error {
	display: block;
	width: 60%;
	margin: 2em auto;
	color: red;
	border: 1px solid red;
	background-color: #fceded; 
}
div#login-warnings ul, div#login-error ul {
	margin: 0em;
	padding: 2em 2em 2em 4em;
}
div#login-warnings ul li, div#login-error ul li {
	margin-left: 2em;
	background-color: #fceded;
}
#login-links {
	position: absolute;
	top: .5em;
	right: 0em;
	list-style: none;
	margin: 0em;
	padding: 0em;
}
#login-links li {
	float: left;
	padding: 0em .25em;
}
#login-links li:before {
	content: '[';
}
#login-links li:after {
	content: ']';
}
#login-links li a {
	padding: 0em .35em;
}
