# Config files
config_inc.php
custom_constant_inc.php
custom_strings_inc.php
custom_functions_inc.php
mantis_offline.php

# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install

# Untracked plugins
plugins/*

# IDE/Editor temporary files
*~
*.swp
*.bak
.project

# IIS7 
web.config
