# Config files
config_inc.php
custom_constants_inc.php
custom_functions_inc.php
custom_relationships_inc.php
custom_strings_inc.php
mantis_offline.php
api/soap/mc_config_inc.php

# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install
docbook/*/tmp

# Build output
build/

# Untracked plugins
plugins/*
!plugins/MantisCoreFormatting
!plugins/MantisGraph
!plugins/XmlImportExport

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings
.idea/
*.kdev4
nbproject/

# IIS7 
web.config
!library/securimage/web.config

#libraries
library/jpgraph
library/FirePHPCore
