[submodule "library/adodb"]
	path = library/adodb
	url = https://github.com/mantisbt/ADOdb.git
[submodule "library/phpmailer"]
	path = library/phpmailer
	url = https://github.com/mantisbt/PHPMailer
[submodule "library/disposable"]
	path = library/disposable
	url = https://github.com/mantisbt/disposable_email_checker
[submodule "library/securimage"]
	path = library/securimage
	url = https://github.com/mantisbt/securimage.git
