[submodule "library/adodb"]
	path = library/adodb
	url = https://github.com/mantisbt/ADOdb.git
	branch = mantis-1.3
[submodule "library/phpmailer"]
	path = library/phpmailer
	url = https://github.com/mantisbt/PHPMailer
	branch = mantis
[submodule "library/securimage"]
	path = library/securimage
	url = https://github.com/mantisbt/securimage.git
	branch = mantis
[submodule "api/rest/swagger"]
	path = api/rest/swagger
	url = https://github.com/mantisbt/swagger-ui.git
