Adrian Spinei <aspinei@users.sourceforge.net> aspinei
Alexander Ishmuradov <ishmuradov@gmail.com>
Allan Brazute <ethraza@gmail.com> EthraZa
André Eisenbach <int2str@users.sourceforge.net> int2str
Bastian Pfenningschmidt <bpfennigschmidt@users.sourceforge.net> bpfennigschmidt
Carlos Proensa <proensa@gmail.com> Carlos
Cas Nuy <cas@nuy.info> CasN
Damien Regad <dregad@mantisbt.org> <dr_mantis@regad.org>
Damien Regad <dregad@mantisbt.org> <damien.regad@merckgroup.com>
Damien Regad <dregad@mantisbt.org> <damien.regad@merckserono.net>
David Hicks <d@hx.id.au> <hickseydr@optusnet.com.au>
David Newcomb <davidnewcomb@users.sourceforge.net> davidnewcomb
dependabot[bot] <support@dependabot.com> <dependabot[bot]@users.noreply.github.com>
dependabot[bot] <support@dependabot.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
Dmitriy V Kuranov <dkuranov@beeline.ru> DKuranov
Frank Rodgers <frodgers@redcom.com> <frodgers@iowa.redcom.com>
Grigoriy Ermolaev <igflocal@gmail.com> grigoriy
jeckyhl <jeckyhl@sourceforge.net> jeckyll <jeckyll@mantisbt.org>
Jim Hanley <dgtlrift@users.sourceforge.net> dgtlrift
Johan Guilbaud <git@lapinkiller.fr>
Johan Guilbaud <git@lapinkiller.fr> Lapinkiller <lapinkiller@hotmail.fr>
John Reese <john@noswap.com> <jreese@leetcode.net>
Kornel Lesinski <kornel@aardvarkmedia.co.uk>
Lincoln Maskey <narcissus@users.sourceforge.net> narcissus
Luke Lee <luke@mantishub.net> Luke
Luke Lee <luke@mantishub.net> Luke <lr_dev@orientationsys.com>
luzpaz <luzpaz@users.noreply.github.com> luz.paz
luzpaz <luzpaz@users.noreply.github.com> <luzpaz@@users.noreply.github.com>
Manilal <libregeek@gmail.com> libregeek
Marcello Scata <marcelloscata@users.sourceforge.net> masc
Markus Schneider <schnueptus@schnueptus.de> <schnueptus@schnueptus-d430.(none)>
mfoXen <inetgames@web.de> <mfoXen@users.noreply.github.com>
Michael Lorer <info@01-scripts.de>
Paul Richards <paul@mantisforge.org> grangeway <paul@minimoo.org>
Paul Richards <paul@mantisforge.org> Paul
Paul Richards <paul@mantisforge.org> <Paul@.(none)>
Paul Richards <paul@mantisforge.org> root <root@paul.shroudbox.com>
Paul Richards <paul@mantisforge.org> <paul@issue-track.org>
Rafik Robeal <rafik@mantishub.net> syncguru
Rafik Robeal <rafik@mantishub.net> <rafik@futureadvisor.com>
Rafik Robeal <rafik@mantishub.net> <rafik@mantishub.com>
Rafik Robeal <rafik@mantishub.net> <rafikrobeal@gmail.com>
Rafik Robeal <rafik@mantishub.net> <syncguru@users.noreply.github.com>
Robert Munteanu <robert@lmn.ro> <robert.munteanu@gmail.com>
Robert Munteanu <robert@lmn.ro> <robert.munteanu@sdc.ro>
Robert Munteanu <robert@lmn.ro> <rmuntean@adobe.com>
Roland Becker <roland@atrol.de> atrol
Roland Becker <roland@atrol.de> <roland@Rolands-Air.fritz.box>
Saga Musix <saga-games@arcor.de> <sagamusix@users.noreply.github.com>
Siebrand Mazeland <siebrand@kitano.nl>
Siebrand Mazeland <siebrand@kitano.nl> <s.mazeland@xs4all.nl>
Siebrand Mazeland <siebrand@kitano.nl> git <Administrator@.(none)>
Siebrand Mazeland <siebrand@kitano.nl> unknown <Administrator@.(none)>
Stéphane Veyret <sveyret@axway.com>
Tamás Gulácsi <tgulacsi78@gmail.com> <gt-dev@gthomas.homelinux.org>
Tamás Gulácsi <tgulacsi78@gmail.com> <tgulacsi78+acer@gmail.com>
Tamás Gulácsi <tgulacsi78@gmail.com> <tgulacsi@users.noreply.github.com>
Tarik Sedlarevic <tazza70@users.sourceforge.net> tazza70
Véronique Maginot <veronique.maginot@credit-agricole-sa.fr>
Victor Boctor <vboctor@gmail.com> root <root@localhost.localdomain>
Victor Boctor <vboctor@gmail.com> <vboctor@localhost.localdomain>
Victor Boctor <vboctor@gmail.com> <vboctor@new-host-3.home>
Victor Boctor <vboctor@gmail.com> <victor@mantishub.com>
Victor Boctor <vboctor@gmail.com> <victor@mantishub.net>
Vladimir Shulev <badfiles@mail.ru> badfiles
Vladimir Shulev <badfiles@mail.ru> root
Zipher04 <zipher04@yahoo.com.tw> Zipher
