Adrian Spinei <aspinei@users.sourceforge.net> aspinei
André Eisenbach <int2str@users.sourceforge.net> int2str
Bastian Pfenningschmidt <bpfennigschmidt@users.sourceforge.net> bpfennigschmidt
Damien Regad <dregad@mantisbt.org> <dr_mantis@regad.org>
Damien Regad <dregad@mantisbt.org> <damien.regad@merckgroup.com>
Damien Regad <dregad@mantisbt.org> <damien.regad@merckserono.net>
David Hicks <d@hx.id.au> <hickseydr@optusnet.com.au>
David Newcomb <davidnewcomb@users.sourceforge.net> davidnewcomb
Dmitriy V Kuranov <dkuranov@beeline.ru> DKuranov
Frank Rodgers <frodgers@redcom.com> <frodgers@iowa.redcom.com>
jeckyhl <jeckyhl@sourceforge.net> jeckyll <jeckyll@mantisbt.org>
Jim Hanley <dgtlrift@users.sourceforge.net> dgtlrift
Johan Guilbaud <git@lapinkiller.fr>
Johan Guilbaud <git@lapinkiller.fr> Lapinkiller <lapinkiller@hotmail.fr>
John Reese <john@noswap.com> <jreese@leetcode.net>
Kornel Lesinski <kornel@aardvarkmedia.co.uk>
Lincoln Maskey <narcissus@users.sourceforge.net> narcissus
Marcello Scata <marcelloscata@users.sourceforge.net> masc
Michael Lorer <info@01-scripts.de>
Paul Richards <paul@mantisforge.org> grangeway <paul@minimoo.org>
Paul Richards <paul@mantisforge.org> Paul
Paul Richards <paul@mantisforge.org> <Paul@.(none)>
Paul Richards <paul@mantisforge.org> root <root@paul.shroudbox.com>
Paul Richards <paul@mantisforge.org> <paul@issue-track.org>
Robert Munteanu <robert@lmn.ro> <robert.munteanu@gmail.com>
Robert Munteanu <robert@lmn.ro> <robert.munteanu@sdc.ro>
Robert Munteanu <robert@lmn.ro> <rmuntean@adobe.com>
Siebrand Mazeland <siebrand@kitano.nl>
Siebrand Mazeland <siebrand@kitano.nl> <s.mazeland@xs4all.nl>
Siebrand Mazeland <siebrand@kitano.nl> git <Administrator@.(none)>
Siebrand Mazeland <siebrand@kitano.nl> unknown <Administrator@.(none)>
Stéphane Veyret <sveyret@axway.com>
Tarik Sedlarevic <tazza70@users.sourceforge.net> tazza70
Véronique Maginot <veronique.maginot@credit-agricole-sa.fr>
Victor Boctor <vboctor@gmail.com> root <root@localhost.localdomain>
Victor Boctor <vboctor@gmail.com> <vboctor@localhost.localdomain>
Victor Boctor <vboctor@gmail.com> <vboctor@new-host-3.home>
Victor Boctor <vboctor@gmail.com> <victor@mantishub.com>
Victor Boctor <vboctor@gmail.com> <victor@mantishub.net>
