body.BOOK, body.CHAPTER, body.SECT1 {
	font-size: 10pt;
	font-family: sans-serif;
}

h1.TITLE, div.CHAPTER h1, h1.CHAPTER, h1.SECT1, .NAVHEADER th {
	font-family: serif;
}

code.CLASSNAME {
}

code.FUNCTION {
	background: #EAEAEF;
	padding: 1px;
}

code.LITERAL {
	font-weight: bold;
}

pre.PROGRAMLISTING {
	background: #EAEAEF;
	border: 1px solid #A0A0A0;
	padding: 5px;
}

tt.COMMAND {
	background: #EAEAEF;
	padding: 1px;
}

tt.FILENAME {
	color: #B00;
}
