body		{margin: 2px;}
td, a, p	{font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt;}
a.small		{font-size: 8pt;}

a.parent	{font-size: 10pt;}
a.item		{font-size: 8pt;}
a.item2		{font-size: 10pt;}

a.root-menu		{font-size: 10pt;}
a.parent-menu	{font-size: 9pt;}
a.sibling-menu	{font-size: 8pt;}

span.sibling-menu	{font-size: 8pt;}

table					{}

tr						{background-color: #ffffff; vertical-align: top;}

th						{background-color: #ffffff; text-align: left;}
th.category				{background-color: #b8c8f8; text-align: left;}
th.subcategory			{background-color: #d8e8ff; text-align: left;}

td						{background-color: #ffffff; padding: 4px;}

td.side-menu			{background-color: #e8e8e8; border-right: 1px dashed #444444; width: 20%; white-space: nowrap; line-height: 1.1em;}
td.main					{background-color: #ffffff; width: 80%;}
td.applicable-version	{background-color: #98b8e8; border-top: 1px solid #222222; padding: 3px; border-bottom: 1px solid #222222; font-size: 8pt; font-style: italic;}
td.see-also				{background-color: #d8d8d8; border: 1px solid #444444; padding: 3px; font-size: 8pt;}
td.top-bar				{background-color: #98b8e8; border-top: 1px solid #222222; padding: 3px; border-bottom: 1px solid #222222; padding: 3px; font-size: 10pt; font-weight: bold; letter-spacing: 1.0em; text-align: right; color: #204888;}
td.description			{padding: 10px;}

table.conf				{background-color: #8888aa; width: 99%; border: 1px;}
td.conf-var				{background-color: #bbccee; width: 20%; white-space: nowrap;}
td.conf-desc			{background-color: #e8e8e8; padding: 6px;}
td.conf-text			{background-color: #ffffff;}

td.spacer				{font-size: 1px; line-height: 1px; background-color: #ffffff; height: 1px;}
td.markup1   			{font-size: 10pt; background-color:#ffffff; width: 30%}
td.markup2   			{font-size: 10pt; background-color:#f8f8f8; width: 30%}
td.markup3   			{font-size: 10pt; background-color:#ffffff; width: 40%}

span.item-title			{font-size: 14pt; font-weight: bold; color: #225566; letter-spacing: 0.2em;}
span.description		{font-size: 11pt; font-weight: bold; color: #003366;}
span.last-modified		{font-size: 8pt; font-style: italic;}
span.bold				{font-weight: bold;}
span.italic				{font-style: italic;}
span.underline			{text-decoration: underline;}
span.file				{background-color: #e8e8d8; font-family: courier new, courier, fixed;}
span.string				{color: #C11900; font-weight: bold; font-style: italic;}
span.function			{color: #0019B7; font-weight: bold; font-style: italic; font-family: courier new, courier, fixed;}
span.line				{color: #ff8844; font-weight: bold; font-style: italic; font-family: courier new, courier, fixed;}
span.variable			{color: #00C1B5; font-weight: bold; font-family: courier new, courier, fixed;}
span.example			{background-color: #f4f4f4; font-family: courier new, courier, fixed; border-left: 1px solid #000000; border-right: 1px solid #000000;}

div						{width: auto; font-size: 10pt; clear: both;}
div.code				{background-color: #f0f0f0; border: 1px solid #444444; padding: 8px; font-family: courier new, courier, fixed; white-space: pre;}
div.note				{background-color: #c8e0f8; border: 1px solid #4444aa; padding: 8px;}
div.warning				{background-color: #f8e0e0; border: 1px solid #aa4444; padding: 8px;}
div.parent				{background-color: #e8e8e8; border-bottom: 1px solid #aaaaaa; padding-top: 4px;}

div.example				{background-color: #f4f4f4; font-family: courier new, courier, fixed; border-left: 1px solid #000000; border-right: 1px solid #000000; display: inline;}

div.float-right			{background-color: #ffffcc; border: 1px solid #88aa44; float: right; width: 30%; display: inline; padding: 8px;}
div.float-left			{background-color: #ffffcc; border: 1px solid #88aa44; float: left;  width: 30%; display: inline; padding: 8px;}

pre						{display: inline;}

div.faq-category		{font-weight: bold; font-size: 13pt; background-color: #98b8e8; padding: 4px; letter-spacing: 0.1em; border-bottom: solid 1px #000088;}
dt						{font-weight: bold;}
dd						{}
li.faq-category			{line-height: 1.4em;}
li.faq					{list-style: disc; line-height: 1.3em;}