table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
}

.thead1 {
	background-color: #8694c6;
}

.thead2 {
	background-color: #a5afd4;
}

.description1 {
	background-color: #e8e8e8;
}

.description2 {
	background-color: #f0f0f0;
}

.info1 {
	background-color: #cccccc;
}

.info2 {
	background-color: #dfdfdf;
}

.pass1 {
	background-color: #96d063;
}

.pass2 {
	background-color: #73ab43;
}

.warn1 {
	background-color: #eede7d;
}

.warn2 {
	background-color: #edbe38;
}

.fail1 {
	background-color: #d97289;
}

.fail2 {
	background-color: #d54565;
}

.error {
	background-color: #fb4444;
}

.notice {
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2ex;
	padding-bottom: 2ex;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#mantisbt-header-logo {
	text-align: center;
}


#check-results {
	width: 100%;
}

tr.top-bar { background-color: #98b8e8; padding: 3px; padding: 3px; color: #204888 }

tr.top-bar td { border-top: 1px solid #222222; border-bottom: 1px solid #222222 }

tr.top-bar td.title { text-align: right; font-size: 10pt; font-weight: bold; letter-spacing: 1.0em; }

tr.top-bar td.links { text-align: left; font-size: 8pt }

tr.row-1 { background-color: #d8d8d8; color: #000000; }

tr.row-2 { background-color: #e8e8e8; color: #000000; }

table.width100		{ width: 100%; border: solid 1px #000000; }

table.width50		{ width: 50%; border: solid 1px #000000; }

td.center			{ text-align: center; }
