<html>
<style>
body {
    background-color: #93B874;
}
h1 {
    background-color: #00b33c;
}
p {
    background-color: #FFFFFF);
}
table, th, td {  
	border: 1px solid black;}
</style>
<h2 style="color:red; background:black;">
{{ top_line }}
</h2>
<br>
<table>
<tr><td><b>Note-id </b> </td><td>{{ note_id }} <a href={{ url }}> View Note inside the Issue Tracker</a></td></tr>
<tr><td><b>Reporter </b></td><td> {{ reporter }}</td></tr>
<tr><td><b>Access level </b></td><td> {{ access }}</td></tr>
<tr><td><b>Last modified</b></td><td> {{ modified }}</td></tr>
<tr><td><b>Private</b></td><td> {{ private }}</td></tr>
<tr><td><b>Timetracking</b></td><td><pre> {{ timetrack }} </pre></td></tr>
<tr><td><b>Note</b></td><td><pre> {{ note }} </pre></td></tr>
</html>
